<html>
<head>
    <title>Registration Form</title>
</head>
<body>
    <center>
    <h2>Registration Form</h2>
    
    <form method="POST" action="tprocess" >
        {% csrf_token %}
        <table border="1"  bgcolor="#98f0e4" cellpadding="10" cellspacing="0" colspan="2">
            <tr><td><label for="name">Name:</label></td></tr>
            <tr><td ><input type="text" id="name" name="name" required></td></tr>
            <tr><td ><label for="father_name">Father's Name:</label></td></tr>
            <tr><td ><input type="text" id="father_name" name="father_name" required></td></tr>
            <tr><td ><label>Gender:</label></td></tr>
            <tr><td><input type="radio" id="male" name="gender" value="Male" required>
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="Female" required>
                    <label for="female">Female</label></td></tr>
            <tr><td ><label for="address">Address:</label></td></tr>
            <tr><td ><textarea id="address" name="address" rows="4" cols="50" required></textarea></td></tr>
            <tr><td ><label for="pincode">Pincode:</label></td></tr>
            <tr><td ><input type="text" id="pincode" name="pincode" required></td></tr>
            <tr><td ><label for="phone">Phone:</label></td></tr>
            <tr><td ><input type="text" id="phone" name="phone" required></td></tr>
            <tr><td ><label for="qualification">Qualification:</label></td></tr>
            <tr><td ><select id="qualification" name="qualification" required>
                        <option value="10th">10th</option>
                        <option value="12th">12th</option>
                        <option value="ug">UG</option>
                        <option value="pg">PG</option>
                        <option value="others">Others</option>
                    </select></td></tr>
            <tr><td ><label>Hobbies:</label></td></tr>
            <tr><td >   <input type="checkbox" id="painting" name="hobbies" value="Painting">
                    <label for="painting">Painting</label><br>
                    <input type="checkbox" id="music" name="hobbies" value="Music">
                    <label for="music">Music</label><br>
                    <input type="checkbox" id="sports" name="hobbies" value="Sports">
                    <label for="sports">Sports</label><br>
                    <input type="checkbox" id="all" name="hobbies" value="All">
                    <label for="all">All</label><br>
                    <input type="checkbox" id="others" name="hobbies" value="Others">
                    <label for="others">Others</label><br></td></tr>
            <tr>
                <td ><label for="description">Brief Description:</label></td>
            </tr>
            <tr>
                <td ><textarea id="description" name="description" rows="4" cols="50"></textarea></td>
            </tr>
            <tr><td  style="text-align: center;">
                <input type="submit" value="Submit"></td></tr>
        </table>
    </form>
    </center>
</body>
</html>
